.elementor-2662 .elementor-element.elementor-element-dccad7b > .elementor-container{max-width:1250px;}.elementor-2662 .elementor-element.elementor-element-5e505e8.elementor-widget-heading .elementor-heading-title{color:#373e48;}.elementor-2662 .elementor-element.elementor-element-5e505e8 .elementor-heading-title{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:40px;}.elementor-2662 .elementor-element.elementor-element-5e505e8 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-2662 .elementor-element.elementor-element-dccad7b{background-color:#f2f5ff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 40px 0px 40px;}.elementor-2662 .elementor-element.elementor-element-dccad7b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2662 .elementor-element.elementor-element-0beac9e > .elementor-container{max-width:1280px;}.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filter{color:#6d76a6;font-size:17px;font-weight:500;font-style:normal;line-height:20px;}.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filter.elementor-active{color:#000000;}.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filter:not(:last-child){margin-right:calc(5px/2);}.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filter:not(:first-child){margin-left:calc(5px/2);}.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filters{margin-bottom:25px;}.elementor-2662 .elementor-element.elementor-element-bb36c5f > .elementor-widget-container{padding:0px 10px 0px 10px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5656 * 100% );}.elementor-2662 .elementor-element.elementor-element-9eed250:after{content:"0.5656";position:absolute;color:transparent;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-posts-container{grid-column-gap:0px;grid-row-gap:0px;}.elementor-msie .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post{padding-right:calc( 0px/2 );padding-left:calc( 0px/2 );padding-bottom:0px;}.elementor-msie .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-posts-container{margin-left:calc( -0px/2 );margin-right:calc( -0px/2 );}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card{background-color:#ffffff;border-color:#ffffff;border-width:10px;border-radius:5px;padding-top:0px;padding-bottom:0px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__text{padding:0 5px;margin-top:10px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__meta-data{padding:10px 5px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__avatar{padding-right:5px;padding-left:5px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__thumbnail img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__badge{left:0;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card .elementor-post__badge{background-color:rgba(0,0,0,0);color:#04d3ab;border-radius:0px;font-size:14px;margin:0px;font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;text-transform:none;line-height:32px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__title, .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__title a{color:#000000;font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:20px;line-height:24px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__title{margin-bottom:12px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__excerpt p{color:#8894ad;font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:14px;line-height:22px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-pagination{text-align:center;font-weight:600;}body:not(.rtl) .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}.elementor-2662 .elementor-element.elementor-element-9eed250 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2662 .elementor-element.elementor-element-0beac9e{background-color:#f2f5ff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 20px 70px 20px;}.elementor-2662 .elementor-element.elementor-element-0beac9e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}body.elementor-page-2662 h1.entry-title, .elementor-page-title{display:none;}@media(max-width:1024px){.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filter{font-size:16px;}}@media(max-width:767px){.elementor-2662 .elementor-element.elementor-element-bb36c5f .elementor-portfolio__filter{font-size:13px;}.elementor-2662 .elementor-element.elementor-element-bb36c5f > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-2662 .elementor-element.elementor-element-9eed250:after{content:"0.5";position:absolute;color:transparent;}.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card .elementor-post__badge{line-height:1.3em;}}/* Start custom CSS for template, class: .elementor-element-6c648bc */.elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .signup-button, .elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .signup-button{
    display: inline-block;
}
.elementor-2662 .elementor-element.elementor-element-6c648bc{
    box-shadow: none;
}
.elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects{
    box-shadow: 3px 0px 33px rgba(0, 0, 0, 0.25)!important;

}
@media (max-width:1260px){
    .elementor-2662 .elementor-element.elementor-element-6c648bc .demo-button, .elementor-2662 .elementor-element.elementor-element-6c648bc .signup-button{
    display: none
}
}
@media (max-width:768px){
    .elementor-2662 .elementor-element.elementor-element-6c648bc{
        background:#F2F5FF!important;
    }
}
/*.elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .signup-button, .elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .demo-button{*/
/*    display: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for template, class: .elementor-element-6c648bc */.elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .signup-button, .elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .signup-button{
    display: inline-block;
}
.elementor-2662 .elementor-element.elementor-element-6c648bc{
    box-shadow: none;
}
.elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects{
    box-shadow: 3px 0px 33px rgba(0, 0, 0, 0.25)!important;

}
@media (max-width:1260px){
    .elementor-2662 .elementor-element.elementor-element-6c648bc .demo-button, .elementor-2662 .elementor-element.elementor-element-6c648bc .signup-button{
    display: none
}
}
@media (max-width:768px){
    .elementor-2662 .elementor-element.elementor-element-6c648bc{
        background:#F2F5FF!important;
    }
}
/*.elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .signup-button, .elementor-2662 .elementor-element.elementor-element-6c648bc.elementor-sticky--effects .demo-button{*/
/*    display: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for post-filter, class: .elementor-element-bb36c5f */.elementor-2662 .elementor-element.elementor-element-bb36c5f ul{
    text-align: left;
    justify-content: center;
    flex-wrap: flex-wrap!important;
    
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li{
    display: inline-block;
    background: #fff;
    border-radius:5px;
    padding: 15px 20px 15px 52px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 5px !important;
    transition: all .3s ease-in-out;
    display: flex;
  align-items: center;
  justify-content: center;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li:first-of-type{
    padding-left: 15px;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-ebooks"]{
    background:#fff url('../../2019/08/ebooks.png') 12px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-product-sheets"]{
    background:#fff url('../../2019/08/product-sheets.png') 12px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-customer-stories"]{
    background:#fff url('../../2019/08/ic_play_circle_filled_black_18px.png') 10px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-case-studies"] {
    background:#fff url('../../2019/08/case-studies.png') 10px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-research-papers"]{
    background:#fff url('../../2019/08/research-paper.png') 9px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-webinars"]{
    background:#fff url('../../2019/08/webinars.png') 10px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li.super-cat-post-filter.elementor-portfolio__filter.elementor-active{
 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
 background-color: #04D3AB;
 color: #fff !important;
}
@media (max-width:480px){
  .elementor-2662 .elementor-element.elementor-element-bb36c5f ul{
    text-align: left;
    justify-content: center;
    flex-wrap: flex-wrap!important;
    
    }
}
@media (min-width:769px){
  .elementor-2662 .elementor-element.elementor-element-bb36c5f ul{
    text-align: left;
    justify-content: flex-start;
    flex-wrap: nowrap!important;
    
    }  
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-9eed250 */.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card{
    transition: all .3s ease-in-out;
    font-size: 12px !important;
    
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.elementor-2662 .elementor-element.elementor-element-9eed250 article.elementor-post{
    background: transparent!important;
    
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card{
    position: relative;
    padding-bottom: 50px!important;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__badge{
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    margin: 0;
    padding: 0 0 0 30px;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-webinars .elementor-post__badge{
    background: url('../../2019/08/webinars-1.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-research-papers .elementor-post__badge{
    background: url('../../2019/08/research-paper-1.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-ebooks .elementor-post__badge{
    background: url('../../2019/08/ebooks-1.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-product-sheets .elementor-post__badge{
    background: url('../../2019/08/white-papers.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-customer-stories .elementor-post__badge{
    background: url('../../2019/08/videos.png') 3px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-case-studies .elementor-post__badge{
    background: url('../../2019/08/case-studies-1.png') 5px center no-repeat;
}/* End custom CSS */
/* Start custom CSS for post-filter, class: .elementor-element-bb36c5f */.elementor-2662 .elementor-element.elementor-element-bb36c5f ul{
    text-align: left;
    justify-content: center;
    flex-wrap: flex-wrap!important;
    
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li{
    display: inline-block;
    background: #fff;
    border-radius:5px;
    padding: 15px 20px 15px 52px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 5px !important;
    transition: all .3s ease-in-out;
    display: flex;
  align-items: center;
  justify-content: center;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li:first-of-type{
    padding-left: 15px;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-ebooks"]{
    background:#fff url('../../2019/08/ebooks.png') 12px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-product-sheets"]{
    background:#fff url('../../2019/08/product-sheets.png') 12px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-customer-stories"]{
    background:#fff url('../../2019/08/ic_play_circle_filled_black_18px.png') 10px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-case-studies"] {
    background:#fff url('../../2019/08/case-studies.png') 10px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-research-papers"]{
    background:#fff url('../../2019/08/research-paper.png') 9px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li[data-term="resource_category-webinars"]{
    background:#fff url('../../2019/08/webinars.png') 10px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
.elementor-2662 .elementor-element.elementor-element-bb36c5f li.super-cat-post-filter.elementor-portfolio__filter.elementor-active{
 box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
 background-color: #04D3AB;
 color: #fff !important;
}
@media (max-width:480px){
  .elementor-2662 .elementor-element.elementor-element-bb36c5f ul{
    text-align: left;
    justify-content: center;
    flex-wrap: flex-wrap!important;
    
    }
}
@media (min-width:769px){
  .elementor-2662 .elementor-element.elementor-element-bb36c5f ul{
    text-align: left;
    justify-content: flex-start;
    flex-wrap: nowrap!important;
    
    }  
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-9eed250 */.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card{
    transition: all .3s ease-in-out;
    font-size: 12px !important;
    
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.elementor-2662 .elementor-element.elementor-element-9eed250 article.elementor-post{
    background: transparent!important;
    
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__card{
    position: relative;
    padding-bottom: 50px!important;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .elementor-post__badge{
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    margin: 0;
    padding: 0 0 0 30px;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-webinars .elementor-post__badge{
    background: url('../../2019/08/webinars-1.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-research-papers .elementor-post__badge{
    background: url('../../2019/08/research-paper-1.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-ebooks .elementor-post__badge{
    background: url('../../2019/08/ebooks-1.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-product-sheets .elementor-post__badge{
    background: url('../../2019/08/white-papers.png') 5px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-customer-stories .elementor-post__badge{
    background: url('../../2019/08/videos.png') 3px center no-repeat;
}
.elementor-2662 .elementor-element.elementor-element-9eed250 .resource_category-case-studies .elementor-post__badge{
    background: url('../../2019/08/case-studies-1.png') 5px center no-repeat;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0beac9e */.elementor-2662 .elementor-element.elementor-element-0beac9e .elementor-post.elementor-grid-item {
  padding: 12px;
  background: #fff;
  border-radius: 5px;
}

.elementor-2662 .elementor-element.elementor-element-0beac9e .elementor-pagination {
  padding-top: 24px;
  padding-bottom: 24px;
}

.elementor-2662 .elementor-element.elementor-element-0beac9e .elementor-pagination .page-numbers {
  background: none;
  padding: 0.5em 0.75em;
}

.elementor-2662 .elementor-element.elementor-element-0beac9e span.page-numbers {
  color: #888;
}

.elementor-2662 .elementor-element.elementor-element-0beac9e a.page-numbers {
  color: #548EFF;
}

.elementor-2662 .elementor-element.elementor-element-0beac9e .page-numbers.current {
  font-weight: bold;
}

.elementor-2662 .elementor-element.elementor-element-0beac9e .prev.page-numbers, .elementor-2662 .elementor-element.elementor-element-0beac9e .next.page-numbers {
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
}/* End custom CSS */