.elementor-1870 .elementor-element.elementor-element-4b5c9c1c > .elementor-container{min-height:64px;}.elementor-1870 .elementor-element.elementor-element-4b5c9c1c > .elementor-container:after{content:"";min-height:inherit;}.elementor-1870 .elementor-element.elementor-element-2bde4905 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}.elementor-1870 .elementor-element.elementor-element-5f6d737e{z-index:200;}.elementor-1870 .elementor-element.elementor-element-6e907178{text-align:left;}.elementor-1870 .elementor-element.elementor-element-6e907178 .elementor-image img{width:186px;}.elementor-1870 .elementor-element.elementor-element-6e907178 > .elementor-widget-container{margin:0px 0px 0px 015px;}.elementor-1870 .elementor-element.elementor-element-6da7cb15{text-align:left;}.elementor-1870 .elementor-element.elementor-element-6da7cb15.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1870 .elementor-element.elementor-element-6da7cb15 .elementor-heading-title{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:20px;line-height:2em;}.elementor-1870 .elementor-element.elementor-element-6da7cb15 > .elementor-widget-container{margin:0px 0px 0px 15px;padding:0px 0px 0px 15px;border-style:solid;border-width:0px 0px 0px 1px;}.elementor-1870 .elementor-element.elementor-element-2b770f62 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-menu-toggle{margin-right:auto;background-color:rgba(0,0,0,0);font-size:27px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:0.1px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main .elementor-item{color:#485472;padding-left:15px;padding-right:15px;padding-top:22px;padding-bottom:22px;}body:not(.rtl) .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:15px;}body.rtl .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:15px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:15px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a, .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-menu-toggle{color:#485472;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a:hover,
					.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-menu-toggle:hover{color:#485472;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a:hover,
					.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a.highlighted{background-color:#ffffff;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-weight:600;text-transform:uppercase;}.elementor-1870 .elementor-element.elementor-element-4da6d158 div.elementor-menu-toggle{color:#878787;}.elementor-1870 .elementor-element.elementor-element-4b5c9c1c{background-color:#dde4f8;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:2px 0px 0px 0px;z-index:100000000000000;}.elementor-1870 .elementor-element.elementor-element-4b5c9c1c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1870 .elementor-element.elementor-element-5dc6bd65 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-55b7bc39{text-align:left;}.elementor-1870 .elementor-element.elementor-element-55b7bc39 .elementor-image img{width:15px;transition-duration:0.3s;}.elementor-1870 .elementor-element.elementor-element-55b7bc39 .elementor-image:hover img{opacity:0.5;}.elementor-1870 .elementor-element.elementor-element-55b7bc39 > .elementor-widget-container{margin:0px 25px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-7a2cbfa3{text-align:left;}.elementor-1870 .elementor-element.elementor-element-7a2cbfa3.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1870 .elementor-element.elementor-element-7a2cbfa3 .elementor-heading-title{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:32px;font-weight:500;}.elementor-1870 .elementor-element.elementor-element-7a2cbfa3 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-617b5412{background-color:#f2f5ff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:80px 30px 00px 30px;}.elementor-1870 .elementor-element.elementor-element-617b5412 > .elementor-background-overlay{opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1870 .elementor-element.elementor-element-41ae7c85.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1870 .elementor-element.elementor-element-41ae7c85 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child){margin-bottom:0px;}.elementor-1870 .elementor-element.elementor-element-41ae7c85 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.56 * 100% );}.elementor-1870 .elementor-element.elementor-element-4ab411cb:after{content:"0.56";position:absolute;color:transparent;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post__thumbnail__link{width:100%;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post__meta-data span + span:before{content:"///";}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-posts-container{grid-column-gap:30px;grid-row-gap:35px;}.elementor-msie .elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post{padding-right:calc( 30px/2 );padding-left:calc( 30px/2 );padding-bottom:35px;}.elementor-msie .elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-posts-container{margin-left:calc( -30px/2 );margin-right:calc( -30px/2 );}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post{border-style:solid;border-width:0px 0px 0px 0px;border-radius:3px;box-shadow:0px 0px 1px 0px rgba(0,0,0,0.5);background-color:#ffffff;border-color:#7a7a7a;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post__text{padding:6px 20px 10px 20px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:8px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:8px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:8px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post__read-more{font-size:16px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination{text-align:center;font-size:12px;font-weight:500;text-transform:uppercase;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination .page-numbers:not(.dots){color:#6a99f5;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination a.page-numbers:hover{color:#ffffff;}body:not(.rtl) .elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}.elementor-1870 .elementor-element.elementor-element-55932f3.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-1870 .elementor-element.elementor-element-55932f3 > .elementor-element-populated{text-align:left;padding:0px 0px 30px 40px;}.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__container{min-height:50px;}.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__submit{min-width:calc( 1 * 50px );color:#000000;background-color:rgba(43,218,174,0);font-size:19px;}body:not(.rtl) .elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__icon{padding-left:calc(50px / 3);}body.rtl .elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__icon{padding-right:calc(50px / 3);}.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__input, .elementor-1870 .elementor-element.elementor-element-389ab0c.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(50px / 3);padding-right:calc(50px / 3);}.elementor-1870 .elementor-element.elementor-element-389ab0c input[type="search"].elementor-search-form__input{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:16px;font-weight:300;letter-spacing:0.3px;}.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__input,
					.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__icon,
					.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-lightbox .dialog-lightbox-close-button,
					.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-1870 .elementor-element.elementor-element-389ab0c.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#7481a9;}.elementor-1870 .elementor-element.elementor-element-389ab0c:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#ffffff;border-color:#c6d2fb;border-width:1px 1px 1px 1px;border-radius:3px;}.elementor-1870 .elementor-element.elementor-element-389ab0c.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#ffffff;border-color:#c6d2fb;border-width:1px 1px 1px 1px;border-radius:3px;}.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__submit:hover{color:#548eff;background-color:rgba(255,255,255,0);}.elementor-1870 .elementor-element.elementor-element-d3a0836.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-1870 .elementor-element.elementor-element-d3a0836 .elementor-heading-title{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:18px;font-weight:700;}.elementor-1870 .elementor-element.elementor-element-d3a0836 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(2px/2);}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(2px/2);}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(2px/2);margin-left:calc(2px/2);}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-2px/2);margin-left:calc(-2px/2);}body.rtl .elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-2px/2);}body:not(.rtl) .elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-2px/2);}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-icon{width:14px;}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-icon i{font-size:14px;}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-text{color:#548eff;}.elementor-1870 .elementor-element.elementor-element-9e1a003 .elementor-icon-list-item{font-family:"Gotham", Gotham, "Gotham A", "Gotham B", Sans-serif;font-size:16px;font-weight:600;}.elementor-1870 .elementor-element.elementor-element-15f5c9f2{background-color:#f2f5ff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:60px 30px 80px 30px;}.elementor-1870 .elementor-element.elementor-element-15f5c9f2 > .elementor-background-overlay{opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(min-width:768px){.elementor-1870 .elementor-element.elementor-element-2b770f62{width:73.188%;}.elementor-1870 .elementor-element.elementor-element-41ae7c85{width:80%;}.elementor-1870 .elementor-element.elementor-element-55932f3{width:20%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1870 .elementor-element.elementor-element-2bde4905{width:25%;}.elementor-1870 .elementor-element.elementor-element-2b770f62{width:75%;}.elementor-1870 .elementor-element.elementor-element-41ae7c85{width:100%;}.elementor-1870 .elementor-element.elementor-element-55932f3{width:100%;}}@media(max-width:1024px){.elementor-1870 .elementor-element.elementor-element-6e907178 .elementor-image img{width:97px;}.elementor-1870 .elementor-element.elementor-element-6e907178 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-6da7cb15 .elementor-heading-title{font-size:13px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main{font-size:11px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main .elementor-item{padding-left:7px;padding-right:7px;}body:not(.rtl) .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-right:0px;}body.rtl .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child){margin-left:0px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:0px;}.elementor-1870 .elementor-element.elementor-element-4b5c9c1c{padding:10px 20px 10px 20px;}.elementor-1870 .elementor-element.elementor-element-617b5412{padding:20px 20px 10px 20px;}.elementor-1870 .elementor-element.elementor-element-41ae7c85 > .elementor-element-populated{padding:10px 10px 10px 10px;}.elementor-1870 .elementor-element.elementor-element-55932f3 > .elementor-element-populated{padding:40px 10px 40px 10px;}.elementor-1870 .elementor-element.elementor-element-15f5c9f2{padding:20px 20px 10px 20px;}}@media(max-width:767px){.elementor-1870 .elementor-element.elementor-element-4b5c9c1c > .elementor-container{min-height:0px;}.elementor-1870 .elementor-element.elementor-element-4b5c9c1c > .elementor-container:after{content:"";min-height:inherit;}.elementor-1870 .elementor-element.elementor-element-2bde4905{width:80%;}.elementor-1870 .elementor-element.elementor-element-2bde4905 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1870 .elementor-element.elementor-element-6e907178 .elementor-image img{width:177px;}.elementor-1870 .elementor-element.elementor-element-6da7cb15 .elementor-heading-title{line-height:3em;}.elementor-1870 .elementor-element.elementor-element-2b770f62{width:20%;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown{font-size:14px;letter-spacing:1.2px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--dropdown a{padding-top:15px;padding-bottom:15px;}.elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:15px !important;}.elementor-1870 .elementor-element.elementor-element-4b5c9c1c{padding:20px 20px 20px 20px;}.elementor-1870 .elementor-element.elementor-element-7a2cbfa3 .elementor-heading-title{font-size:22px;}.elementor-1870 .elementor-element.elementor-element-617b5412{padding:40px 10px 10px 10px;}.elementor-1870 .elementor-element.elementor-element-41ae7c85 > .elementor-element-populated{padding:10px 10px 10px 10px;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-1870 .elementor-element.elementor-element-4ab411cb:after{content:"0.5";position:absolute;color:transparent;}.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-post__thumbnail__link{width:100%;}.elementor-1870 .elementor-element.elementor-element-d3a0836{text-align:left;}.elementor-1870 .elementor-element.elementor-element-15f5c9f2{padding:40px 10px 10px 10px;}}/* Start custom CSS for html, class: .elementor-element-5f6d737e */.elementor-1870 .elementor-element.elementor-element-5f6d737e{
    display: none;
}
@media (min-width:768px){
    .elementor-1870 .elementor-element.elementor-element-5f6d737e{
        display:block;
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6e907178 */.elementor-1870 .elementor-element.elementor-element-6e907178{
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6da7cb15 */.elementor-1870 .elementor-element.elementor-element-6da7cb15{
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-4da6d158 */.elementor-1870 .elementor-element.elementor-element-4da6d158 a{
    transition: all .3s ease;
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .bold{
    font-weight: 900;
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .demo-button{
   border-left: 1px solid #BCCFFF;
   padding-left: 10px;
   padding-right: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.elementor-1870 .elementor-element.elementor-element-4da6d158 .demo-button a{
    background: #04D3AB;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.48);
border-radius: 2px;
margin-left: 15px;
    color: #fff!important;
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    top: 5px;
    
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 a:hover{ 
    opacity: 0.6
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .signup-button a{
 background: #548EFF;
border-radius: 2px; 
margin-left: 10px;
    color: #fff!important;
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    top: 15px;
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .login-button a{
    background: #FAFBFB;
border-radius: 2px;
padding-top: 7px!important;
    padding-bottom: 7px!important;
    top: 15px;
    margin-right: 10px
}
/*@media (max-width:768px){*/
/*  .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu li.login-button, .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu li.demo-button{*/
/*    display: none!important*/
/*}  */
/*}*/



.elementor-nav-menu .login_button{
	border:1px solid #fff;
	border-radius:2px;
	font-weight:500
}
.elementor-nav-menu .login_button:hover{
	background:rgb(255,255,255,0.3)!important;
	transition:all .3s ease-in-out
}
.elementor-nav-menu .login_button:hover a{
	color:#ffffff!important;
}

.empty-laptop {
	z-index: 5!important;
}
.elementor-nav-menu--main {
	z-index: 99999999!important;
	position: relative;
}
@media screen and (min-width:768px) {
	.elementor-nav-menu--main .sub-menu {
		padding: 10px 0!important;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
		border-radius: 2px;
		top: 55px!important;
		left: 13px!important;
		min-width: 200px!important;
	}
	.elementor-nav-menu--main .sub-menu:after {
		bottom: 100%;
		left: 18%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 8px;
		margin-left: -8px;
	}
}


 .elementor-nav-menu--main .sub-menu li a{
	padding: 10px!important;
	text-transform: none;
	font-size: 16px;
	position: relative;
	color: #333!important;
}
.elementor-nav-menu--main .sub-menu li a:hover {
	color: #333!important;
	background: rgba(235, 236, 242, 0.45) !important;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5f6d737e */.elementor-1870 .elementor-element.elementor-element-5f6d737e{
    display: none;
}
@media (min-width:768px){
    .elementor-1870 .elementor-element.elementor-element-5f6d737e{
        display:block;
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6e907178 */.elementor-1870 .elementor-element.elementor-element-6e907178{
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6da7cb15 */.elementor-1870 .elementor-element.elementor-element-6da7cb15{
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-4da6d158 */.elementor-1870 .elementor-element.elementor-element-4da6d158 a{
    transition: all .3s ease;
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .bold{
    font-weight: 900;
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .demo-button{
   border-left: 1px solid #BCCFFF;
   padding-left: 10px;
   padding-right: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.elementor-1870 .elementor-element.elementor-element-4da6d158 .demo-button a{
    background: #04D3AB;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.48);
border-radius: 2px;
margin-left: 15px;
    color: #fff!important;
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    top: 5px;
    
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 a:hover{ 
    opacity: 0.6
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .signup-button a{
 background: #548EFF;
border-radius: 2px; 
margin-left: 10px;
    color: #fff!important;
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    top: 15px;
}
.elementor-1870 .elementor-element.elementor-element-4da6d158 .login-button a{
    background: #FAFBFB;
border-radius: 2px;
padding-top: 7px!important;
    padding-bottom: 7px!important;
    top: 15px;
    margin-right: 10px
}
/*@media (max-width:768px){*/
/*  .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu li.login-button, .elementor-1870 .elementor-element.elementor-element-4da6d158 .elementor-nav-menu li.demo-button{*/
/*    display: none!important*/
/*}  */
/*}*/



.elementor-nav-menu .login_button{
	border:1px solid #fff;
	border-radius:2px;
	font-weight:500
}
.elementor-nav-menu .login_button:hover{
	background:rgb(255,255,255,0.3)!important;
	transition:all .3s ease-in-out
}
.elementor-nav-menu .login_button:hover a{
	color:#ffffff!important;
}

.empty-laptop {
	z-index: 5!important;
}
.elementor-nav-menu--main {
	z-index: 99999999!important;
	position: relative;
}
@media screen and (min-width:768px) {
	.elementor-nav-menu--main .sub-menu {
		padding: 10px 0!important;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
		border-radius: 2px;
		top: 55px!important;
		left: 13px!important;
		min-width: 200px!important;
	}
	.elementor-nav-menu--main .sub-menu:after {
		bottom: 100%;
		left: 18%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 8px;
		margin-left: -8px;
	}
}


 .elementor-nav-menu--main .sub-menu li a{
	padding: 10px!important;
	text-transform: none;
	font-size: 16px;
	position: relative;
	color: #333!important;
}
.elementor-nav-menu--main .sub-menu li a:hover {
	color: #333!important;
	background: rgba(235, 236, 242, 0.45) !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4b5c9c1c */.elementor-1870 .elementor-element.elementor-element-4b5c9c1c.elementor-sticky--effects .signup-button, .elementor-1870 .elementor-element.elementor-element-4b5c9c1c.elementor-sticky--effects .signup-button{
    display: inline-block;
}
.elementor-1870 .elementor-element.elementor-element-4b5c9c1c{
    box-shadow: none;
}
.elementor-1870 .elementor-element.elementor-element-4b5c9c1c.elementor-sticky--effects{
    box-shadow: 3px 0px 33px rgba(0, 0, 0, 0.25)!important;

}
@media (max-width:1260px){
    .elementor-1870 .elementor-element.elementor-element-4b5c9c1c .demo-button, .elementor-1870 .elementor-element.elementor-element-4b5c9c1c .signup-button{
    display: none
}
}
@media (max-width:768px){
    .elementor-1870 .elementor-element.elementor-element-4b5c9c1c{
        background:#F2F5FF!important;
    }
}
/*.elementor-1870 .elementor-element.elementor-element-4b5c9c1c.elementor-sticky--effects .signup-button, .elementor-1870 .elementor-element.elementor-element-4b5c9c1c.elementor-sticky--effects .demo-button{*/
/*    display: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-55b7bc39 */.elementor-1870 .elementor-element.elementor-element-55b7bc39{
    display: inline-block;
   top: -6px!important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-7a2cbfa3 */.elementor-1870 .elementor-element.elementor-element-7a2cbfa3{
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-55b7bc39 */.elementor-1870 .elementor-element.elementor-element-55b7bc39{
    display: inline-block;
   top: -6px!important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-7a2cbfa3 */.elementor-1870 .elementor-element.elementor-element-7a2cbfa3{
    display: inline-block
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-4ab411cb *//*.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination{*/
/*    margin-top: 30px;*/
    
/*}*/
.elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers{
    background:transparent;
    font-size: 20px;
    /*color:#548EFF!important;*/
    /*font-family:'Gotham',Sans-Serif!important;*/
    /*font-weight: 700;*/
    padding: 20px 12px 2px 10px;
    /*border-radius:500px;*/
    /*width: 35px;*/
    /*height: 35px;*/
    /*text-align: center;*/
    /*transition:all .3s ease;*/
}
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers.prev, .elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers.next{*/
/*    font-size:28px!important;*/
/*    font-weight: 500;*/
/*    line-height:0.96;*/
/*}*/
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb span.page-numbers.prev:hover, .elementor-1870 .elementor-element.elementor-element-4ab411cb span.page-numbers.prev{*/
/*    background: transparent;*/
/*    color: #999!important*/
/*}*/
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers:hover, .elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers.current{*/
/*    background-color:#548EFF;*/
/*    color:#fff!important;*/
/*}*/
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination{*/
/*    max-width: 650px;*/
/*    margin: 50px auto;*/
/*    display: block;*/
/*    clear: both;*/
/*}*//* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-389ab0c */.elementor-1870 .elementor-element.elementor-element-389ab0c input{
    padding: 10px 15px!important;
    height: auto!important;
}
.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__container{
    min-height: 0!important;
}/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-4ab411cb *//*.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination{*/
/*    margin-top: 30px;*/
    
/*}*/
.elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers{
    background:transparent;
    font-size: 20px;
    /*color:#548EFF!important;*/
    /*font-family:'Gotham',Sans-Serif!important;*/
    /*font-weight: 700;*/
    padding: 20px 12px 2px 10px;
    /*border-radius:500px;*/
    /*width: 35px;*/
    /*height: 35px;*/
    /*text-align: center;*/
    /*transition:all .3s ease;*/
}
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers.prev, .elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers.next{*/
/*    font-size:28px!important;*/
/*    font-weight: 500;*/
/*    line-height:0.96;*/
/*}*/
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb span.page-numbers.prev:hover, .elementor-1870 .elementor-element.elementor-element-4ab411cb span.page-numbers.prev{*/
/*    background: transparent;*/
/*    color: #999!important*/
/*}*/
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers:hover, .elementor-1870 .elementor-element.elementor-element-4ab411cb .page-numbers.current{*/
/*    background-color:#548EFF;*/
/*    color:#fff!important;*/
/*}*/
/*.elementor-1870 .elementor-element.elementor-element-4ab411cb .elementor-pagination{*/
/*    max-width: 650px;*/
/*    margin: 50px auto;*/
/*    display: block;*/
/*    clear: both;*/
/*}*//* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-389ab0c */.elementor-1870 .elementor-element.elementor-element-389ab0c input{
    padding: 10px 15px!important;
    height: auto!important;
}
.elementor-1870 .elementor-element.elementor-element-389ab0c .elementor-search-form__container{
    min-height: 0!important;
}/* End custom CSS */